.Footer {
    width: 100%;
    /* height: 500px; */
    background: rgb(12, 32, 58);
    padding-top: 10px;
    margin-top: 60px;
}

.Footer a {
    background: rgba(3, 16, 33, 1);
    /* width: 100%; */
    /* height: 54px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: silver;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.Footer a:first-child {
    padding-top: 15px;
    padding-bottom: 3px;
}

.Footer a:last-child {
    /* padding-top: 5px; */
    padding-bottom: 15px;
}

.Footer a:first-child:hover {
    color: white;
}
.Footer a:last-child:hover {
    color: dodgerblue;
}
