.f-checkbox-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: violet; */
    padding: 8px 0px;
}

.checkbox-itemName {
    font-size: 14px;
    color: rgba(12, 32, 58, 0.6);
}

.checkbox-itemCount {
    text-align: center;
    border-radius: 4px;
    color: rgb(159, 170, 187);
    background-color: rgb(218, 227, 241);
    font-size: 11.2px;
    padding: 4px 8px;
}

.f-checkbox-item div:first-child {
    display: flex;
    align-items: center;
    gap: 5px;
}

.checkbox {
    outline: red;
    border: 1px solid blue;
    cursor: pointer;
}
